body{
    background-color: gray;
    text-align: center;
}

input{
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    border: none;
    width: 30rem;
    translate: 20;
}

button{
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-left: 435px;
    cursor: pointer;
}

div{
    align-items: center;

    color: rgb(209, 178, 239);
    background-color: rgb(185, 103, 174);
}